
:root{
    --color-one: #E28413;
    --color-two: #000022;
    --color-tree: #2E294E;
    --color-four: #9055A2;
    --color-five: #E28413;
}
.container{
    padding-top: 10px;
}
.hrefindex, .textcenter, .titleindex, .view_all_articles, .hrefindex{
    text-align: center;
}

.card{
    width: 100%;
}

.navbar-brand{
    font-family: Arial;
    font-weight: bold ;
}
.btn, .fab{
    margin: 5px;
}
.sameline{
    display: inline-block;
}

.img-bio{
    display: block;
    margin-left: auto;
    margin-right: auto }

.datesize{
    font-size: 12px;
}

.cvview{
    border: 1px solid #cccccc;
    border-radius: 4px;

}
.margin-form{
    margin-top: 2em;

}
.alert-info{
    padding-top: 89px;
}

.main{
    position: relative;
    min-height: 100vh;
}

.boutonmenu{
    color: #6c757d
}


.card-header, form_contact{
    min-width: 50%;
}

.dashboard{
    padding-bottom: 10px;
}

.titlenews{
    color: var(--color-tree);
    display: inline-block;
}


.articleindex{
    text-align: left;
}
body{
    position: relative;
}

.main {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.header {
    background-color: whitesmoke;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 999 !important;
}