
:root{
    --color-one: #E28413;
    --color-two: #000022;
    --color-tree: #2E294E;
    --color-four: #9055A2;
    --color-five: #E28413;
}
.container{
    padding-top: 10px;
}
.hrefindex, .textcenter, .titleindex, .view_all_articles, .hrefindex{
    text-align: center;
}

.card{
    width: 100%;
}

.line-accueil{
    font-family: Arial;
    font-weight: bold ;
}
.btn{
    margin: 5px;
}
.img-bio{
    display: block;
    margin-left: auto;
    margin-right: auto }


.py-3 {
     padding-top: 0rem!important;
}

.datesize{
    font-size: 12px;
}

.cvview{
    border: 1px solid #cccccc;
    border-radius: 4px;

}
.margin-form{
    margin-top: 2em;

}
.alert-info{
    padding-top: 89px;
}
header {
    background-color: whitesmoke;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.main{
    margin-top: 88px;
    position: relative;
    min-height: 100vh;
}

.boutonmenu{
    color: #6c757d
}


.card-header{
    min-width: 50%;
}

.dashboard{
    padding-bottom: 10px;
}

.titlenews{
    color: var(--color-tree);
    display: inline-block;
}

.author{
    color: var(--color-one);
}

.form_con,  .error_co, .deconnection, .form_acceuil, .author, .articleco{
    text-align: center;
    border: 10px solid var(--color-four);
    border-radius: 20px;
    padding: 12px;
}


.articleindex{
    text-align: left;
}
body{
    position: relative;
}

.main {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}