
:root{
    --color-one: #75b9be;
    --color-two: #97f9f9;
    --color-tree: #ccc9a1;
    --color-four: #dceab2;
    --color-five: #c7d66d;
}

.hrefindex{
    text-align: center;
}

.articleco{
    border: 2px solid var(--color-one);

}
.navbar-inverse, .navbar-collapse, .navbar{
    background-color: var(--color-five);
    border-color: var(--color-five);
    color: var(--color-tree);
}
.datesize{
    font-size: 12px;
}

.news, .articlefull{
    border: inherit;
    background-color: var(--color-four);
    margin: 2px;
    padding: 5px;
}
.titrefull
{
    margin: 2px;
    padding: 5px;
}
.titlenews{
    color: var(--color-tree);
    display: inline-block;
}
.titleindex{
    text-align: center;
}
.author{
    color: var(--color-one);
}

.form_con, .form_contact, .error_co, .deconnection, .form_acceuil{
    text-align: center;
    border: 10px solid var(--color-four);
    border-radius: 20px;
    padding: 12px;
}

.cvstyle, .cv_telechargement_style{
    text-align: center;
    border: 10px solid var(--color-tree);
    background-color: var(--color-four);
    border-radius: 10px;
}

.inscription{
    text-align: center;
    border: 10px solid var(--color-tree);
    border-radius: 20px;
}

.glyphicon, .glyphicon-user {
    color: var(--color-tree);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--color-tree);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
}
.hrefindex{
    text-align: center;
}
.articleindex{
    text-align: left;
}
body{
    position: relative;
    padding-bottom: 150px;
}
footer
{
    left: 0;
}